@import "../base/vars";
@import "../base/mixins";

.footer {
  padding: 36px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.04);

  .inner {
    @include flex;
    justify-content: space-between;
    gap: 12px;
  }

  .brand {
    font-family: Momo;
    color: $accent-1
  }

  .copy {
    color: $muted
  }
}